html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


.c__list{
    margin:0 0 20px;
}

.c__list .item-row{
    margin-top:30px;
    margin-left:38px;
    float:left;
    position:relative;
    width:235px;
    height:431px;
    background:#fff;
    box-shadow:0 0 5px rgba(0, 0 , 0, .1);
}

.c__list .li > a{
    display:block;
    height:100%;
    text-decoration:none;
}

.c__list-photo{
    height:235px;
    text-align:center;
    display:table-cell;
    vertical-align:middle;
    width:235px;
}

.c__list-photo img{
    max-width:235px;
    max-height:235px;
}

.c__list-desc{
    position:absolute;
    left:0;
    top:0;
    z-index:5;
    padding:8px 10px;
    color:#fff;
    text-decoration:underline;
    background:rgb(0, 0, 0);
    background:rgba(0, 0, 0, .5);
    line-height:1.35;
    min-height:219px;
    width:235px;
    display:none;
}

.c__list .li:hover .c__list-desc{
    display:block;
}

.c__list-product{
    text-decoration:none;
    color:#2c2d2f;
    font-size:14px;
    line-height:1;
    margin:0 0 5px;
    /*font-weight:500;*/
}

.c__list-name{
    text-transform:uppercase;
    color:#2c2d2f;
    text-decoration:none;
    max-height:58px;
    overflow:hidden;
    font-size:16px;
    line-height:19px;
    margin:0;
    /*white-space: nowrap;*/
}

.c__list_short-details{
    margin-top: 5px;
    font-size:11px;
    color:#9ea0a4;
    line-height:1;
}

.c__list-more{
    display:block;
    color:#6fb32a;
    font-size:26px;
    font-weight:700;
    text-align:center;
    /*text-decoration:underline;*/
}

.subcat {text-align: center; background: url(../img/line.png) repeat-x 50% 50%; margin: 35px 0 15px 0;}

.subcat span{
    font-size:14px;
    color:#fff;
    background: #c61e2f;
    padding: 10px 15px;
    border-radius: 5px;
}

a:hover .c__list-more{
    text-decoration:none;
}

.c__list-content{
    padding:6px 10px 0;
    height:100px;
}

.c__list-price{
    margin:0 10px;
    color:#db172b;
    font-size:26px;
    line-height:1;
    font-weight:500;
}

.c__list-price small{
    font-size:16px;
}

.c__list footer{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:0 8px 10px 8px;
}

.c__list footer.tac{
    padding-bottom:12px;
}

.btn-green-medium{
    position:relative;
    display:inline-block;
    vertical-align:middle;
    margin:0 20px 0 18px;
    height:36px !important;
    line-height:32px;
    color:#fff;
    text-decoration:none;
    font-size:14px;
    font-weight:700;
    background:url(../assets/img/btns.png) 50% -384px no-repeat;
    text-transform:uppercase;
}

.btn-green-medium:after,
.btn-green-medium:before{
    position:absolute;
    content:"";
    top:0;
    height:36px;
    background-image:url(../assets/img/btns.png);
}

.btn-green-medium:before{
    left:-18px;
    width:18px;
    background-position:0 -384px;
}

.btn-green-medium:after{
    right:-20px;
    width:20px;
    background-position:100% -384px;
}

.btn-green-medium:hover{
    background-position:50% -426px;
    color:#fff;
}

.btn-green-medium:active{
    background-position:50% -468px;
    color:#fff;
    top:1px;
}

.btn-green-medium:hover:before{
    background-position:0 -426px;
}

.btn-green-medium:active:before{
    background-position:0 -468px;
}

.btn-green-medium:hover:after{
    background-position:100% -426px;
}

.btn-green-medium:active:after{
    background-position:100% -468px;
}

.item-view .item-image {
    display: inline-block;
    max-width:400px;
    margin-left: 40px;
    vertical-align: top;
}

.item-view .item-content{
    display: inline-block;
    max-width:400px;
    margin-left: 40px;
}

.item-view .item-description{
    margin-top: 20px;
}

.item-view .item-description .description{
    font-weight: normal;
}

.item-view .price{
    font-size: 56px;
    font-weight: normal;
    color:#c61e2f;
    margin-bottom: 30px;
}

.cart-row {
    margin-left: 35px;
    margin-right: 35px;
    position: relative;
    border-bottom: solid #ddd 1px;
}

.cart-row .cart-image {
    display: inline-block;
}

.cart-row .cart-image img {
    width:150px;
    height:150px;
}

.cart-row .cart-name {
    display: inline-block;
    margin-left: 20px;
}

.cart-row .cart-price {
    position: absolute;
    right:100px;
    top: 58px;
    font-size:26px;
    line-height:1;
    font-weight:500;
}

.cart-row .item-remove-from-cart-btn {
    position: absolute;
    right:0;
    top: 54px;
}

.cart-footer {
    margin-left: 35px;
    margin-right: 35px;
    height: 100px;
}

.cart-footer {
    margin-top: 60px;
    text-align: right;
    position: relative;
}

.cart-footer .cart-subtotal {
    margin-right: 5px;
    display: inline;
    text-align: right;
    color:#db172b;
    font-size:26px;
    line-height:1;
    font-weight:500;
}

.cart-footer .btn-success {
    font-weight: bold;
}